body {
  background-color: rgb(69, 10, 10);
}

header {
  background-color: rgba(40, 35, 35, 0.519);
  border: 4px solid black;
  box-shadow: 4px  4px  12px 12px #000000;
}

h1 {
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  margin-top: 1em;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 10px;
}
.salmon {
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border: 8px solid burlywood;
  background-color: rgba(222, 184, 135, 0.541);
  box-shadow: 3px  3px  3px 3px #000000;

}

a {
  color: aquamarine;
  display: flex;
  justify-content: center;
  font-size: x-large;
  padding-bottom: 1em;
}

li {
  color: aquamarine;
  list-style: circle;
  margin-left: 40px;
  font-family: Verdana, sans-serif;
}

section, div, p {
  color: aquamarine;
  font-family: Georgia, Times, serif;
}

#sales-table {
  margin: 2em;
  margin-left: auto;
  margin-right: auto;
}

th {
  color: aquamarine;
  padding: 0.5em;
  vertical-align: middle;
  text-align: left;
  font-family: Verdana, sans-serif;
}

#total-label, #hourly-total {
  border: 1px solid aquamarine;
  border-collapse: collapse;
  padding: 0.5em;
  color:bisque;
  background-color: rgb(40, 35, 35);
  font-family: Verdana, sans-serif;
}


#grand-total {
  border: 1px solid aquamarine;
  border-collapse: collapse;
  padding: 0.5em;
  color:bisque;
  background-color: rgb(40, 35, 35);
  font-family: Verdana, sans-serif;
}

td {
  border: 1px solid aquamarine;
  border-collapse: collapse;
  padding: 0.5em;
  color:bisque;
  background-color: rgb(40, 35, 35);
  font-family: Verdana, sans-serif;
}
form {
  border: 4px solid rgb(40, 35, 35);;
  margin-bottom: 1em;
}
fieldset {
  color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:200px;
  font-family: Verdana, sans-serif;
}

legend {
  font-size: 20px;
  font-family: Verdana, sans-serif;
}

button {
  width: 100px;
}

footer {
  background-color: rgba(40, 35, 35, 0.519);
  height: auto;
  border: 4px solid black;
  box-shadow: 4px  4px  12px 12px #000000;
}

footer div {
  display: flex;
  justify-content: space-around;
}

.contact {
  margin: 1em;
  text-align: center;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
}

.copy {
  text-align: right;
  padding-right: 1em;
  color: bisque;
}

#family {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  background-color: rgba(222, 184, 135, 0.541);
  border: 8px solid burlywood;
  box-shadow: 3px  3px  3px 3px #000000;
}

.merch {
  height: 180px;
  border: 8px solid burlywood;
  box-shadow: 3px  3px  3px 3px #000000;
}
.merchandise {
  display: flex;
  justify-content: space-evenly;
}
.about, .pitch {
  text-align: center;
  margin: 2em;
  font-family: Georgia, Times, serif;
  font-size: large;
}